   <div class="grid-center">
 <div class="cell">
        <img src="bobbo.png" alt="Bild på Björn" class="border-basic"/>
    </div>
    <div class="cell">
    <h1 class="display-4">Om sidan</h1>
    <p>Hejsan! <br />
        Jag som skapat denna sida heter Björn Ettelman och jag studerar webbutveckling på mittuniversitet.
        Jag är i slutet av min utbildning och lär mig just nu att göra webbsidor med hjälp av .net och razor-pages och blazor webserver</p>
    </div></div>
