@inherits LayoutComponentBase

<PageTitle>Moment 1.2</PageTitle>

<div class="cell">
 <img src="mom1.png" alt="Logotyp för moment1" class="logo"/>
    </div>
    <div class="grid-center">
        <NavMenu />
    
<div class="border-basic padding-basic">
    <main>
            @Body
    </main>
    </div>
</div>
